.social-icon {
    height: 48px;
    width: 48px;
    /* para a borda */
    border: 2px solid #ffffff;
    /* para deixar um circulo */
    border-radius: 50%;

   
    display: grid;
    /* dizendo aoso filhos */

    place-items: center;
     /* afeta o link e todos os filhos */
    color: #ffffff;
    font-size: 1.5rem;
 /* deixando a mudança de co lenta, retardando, levesa na troca de cor  */
    transition: all .5s;
}
 /*  quando o mouse passa por cima ficará roxo */
.social-icon:hover {
   
    background: #CF09A4;
    border: 2px solid #CF09A4;

}

